{% extends "base.html" %}
{% block content %}

{% if request.user.is_authenticated %}

<div id="messageContainer">  
  {% for message in messages %}
  <div>
    <span class="color-gray">[{{ message.created_at|date:"Y-m-d" }}]</span> {{ message.author.first_name }}: <i>{{ message.text }}</i>
  </div>
  {% endfor %}
</div>  


<form id="messageForm" onsubmit="sendMessage(); return false;" method="post" data-csrf-token="{{ csrf_token }}" data-user-first-name="{{ request.user.first_name }}">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" name="textmessage" type="text" id="messageField">
      <label class="mdl-textfield__label" for="messageField">Text...</label>
    </div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Send
      </button>
  </form>

{% else %}
  <h1>Nicht eingeloggt!</h1>
  <p>Du bist aktuell nicht eingeloggt, bitte logge dich ein. <br>
     Bitte klick <a href="/login/">Hier</a>
  </p>
{% endif %}

{% endblock %}