{% extends "base.html" %}
{% block content %}

<script>
async function registerUser() {
    loadingBar.classList.remove('hidden');

    const form = document.getElementById('registerForm');
    const token = form.getAttribute('data-csrf-token');

    let fd = new FormData();
    fd.append('csrfmiddlewaretoken', token);
    fd.append('first_name', first_name.value);
    fd.append('last_name', last_name.value);
    fd.append('email', email.value);
    fd.append('username', username.value);
    fd.append('password', password.value);

    try {
        let response = await fetch('/register/', {
            method: 'POST',
            body: fd
        });

        let jsonResponse = await response.json(); // JSON-Objekt nur einmal verarbeiten.

        if (!response.ok) {
            throw new Error(jsonResponse.error); // Fehler werfen, falls vorhanden.
        }
        
        // Erfolg: Logik bleibt gleich.
        let errorElement = document.getElementById('failure');
        if (errorElement) errorElement.remove();
        resetForm();
        // Hier führst du die Weiterleitung durch, ersetze 'deineZielURL' mit der URL, zu der du weiterleiten möchtest
        window.location.href = '/login/'; // z.B. '/home'

    } catch(e) {
        console.log(e);
        console.log('User konnte nicht registriert werden!');
        document.getElementById('sendBox').innerHTML = `
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Register
            </button>
            <div id="loadingBar" class="mdl-progress mdl-js-progress mdl-progress__indeterminate hidden"></div>
            <span style="color:red;" id="failure">${e.message}</span>
        `;

        // Re-Initialisiere MDL-Komponenten
        componentHandler.upgradeElements(document.getElementById('sendBox'));
    } finally {
        // Versichere dich, dass die Loading Bar-Referenz aktuell ist und verstecke sie.
        let loadingBar = document.getElementById('loadingBar');
        if (loadingBar) loadingBar.classList.add('hidden');

    }

    function resetForm() {
        first_name.value = '';
        last_name.value = '';
        email.value = '';
        username.value = '';
        password.value = '';
    }
    
}
</script>

<style>
    div#sendBox {
  max-width: 300px;
  display: flex;
  flex-direction: column;

  .hidden{
    visibility: hidden;
  }
}
</style>


<h4>To create a user, please fill out the form.</h4>

        <form id="registerForm" onsubmit="registerUser(); return false;" method="post" data-csrf-token="{{ csrf_token }}">
            <input type="hidden" name="redirect" value="{{ redirect }}">
            <div class="flex-col">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input required class="mdl-textfield__input" type="text" id="first_name" name="first_name">
                    <label class="mdl-textfield__label" for="first_name">First name</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input required class="mdl-textfield__input" type="text" id="last_name" name="last_name">
                    <label class="mdl-textfield__label" for="last_name">Last name</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input required class="mdl-textfield__input" type="email" id="email" name="email">
                    <label class="mdl-textfield__label" for="email">Email</label>
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input required class="mdl-textfield__input" type="text" id="username" name="username">
                <label class="mdl-textfield__label" for="username">Username</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input required class="mdl-textfield__input" type="password" id="password" name="password">
                    <label class="mdl-textfield__label" for="password">Password</label>
                </div>
                </div>
            <div id="sendBox">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                    Register
                </button>
                <div id="loadingBar" class="mdl-progress mdl-js-progress mdl-progress__indeterminate hidden"></div>
            </div>

        </form>

{% endblock %}